:root {
  --bg: #fff;
  --text: #444;
  --title: #333;
  --link: hotpink;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: var(--link);
  display: inline-block;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
}

a:hover {
  background: rgba(0, 0, 0, 0.06);
}
