:root {
  --bg: #fff;
  --text: #444;
  --text-light: #999;
  --brand: hotpink;
  --brand-dark: #e663a3;
  --brand-light: #fd94c7;
  --accent: gold;
  --title-color: #333;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: calc(20px + 1vw);
}

h2 {
  font-size: calc(16px + 1vw);
}

h3 {
  font-size: calc(14px + 1vw);
}

h4 {
  font-size: calc(13px + 1vw);
}

h5 {
  font-size: calc(12px + 1vw);
}

h6 {
  font-size: calc(10px + 1vw);
}
@media (min-width: 992px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
